.fondomenu{
    background-color: white;
}

.fondomenu2{
    background-color: green;
}

.fondomenu3{
    background-color: aqua;
}

.fuente{
    font-family: 'Reenie Beanie', cursive;
    font-size: 25px;
    color:rgb(0, 34, 255);
}